* {
    font-family: "Montserrat", sans-serif;;
    box-sizing: border-box;
    color:#181414;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    width: 90%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center;
    width: 90%; /* Defina a largura desejada para a div */
    max-width: 650px;
    height: 100%; /* Defina a altura desejada para a div */
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: #888888;
}

.img img {
    width: 100%; /* Faça a imagem ocupar 100% da largura da div */
    height: 100%; /* Faça a imagem ocupar 100% da altura da div */
    max-height: 250px;
    object-fit: cover; /* Garante que a imagem cubra a área da div, mantendo a proporção */
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin: 0 auto
}

form label {
    margin-top: 8px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    color:#888888;
    text-align: start;
    width: 100%;
    max-width: 650px;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c11e2f;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}