* {
    font-family: Helvetica;
    box-sizing: border-box;
    color:#181414;
}

body::before {
    content: "";
    display: block;
    background-color: #181414;
    height: 45px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

h1 {
    text-align: center;
}

body {
    margin: 70px
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    font-family: Helvetica;
    color:#888888;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;

}

input, select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c11e2f;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    form {
        max-width: 100%;
    }
}